{% extends 'base.html.twig' %}

{% block title %}VoD Benchmark{% endblock %}

{% block body %}
    <div class="container">
    HOLA
    </div>
    <div class="">
        <table class="table table-hover table-dark table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">CVA</th>
                <th scope="col">Gracenote</th>
                <th scope="col">Tivo</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Asset ID</th>
                    <td>{{ cva.assetId }}</td>
                    <td>{{ gracenote.assetId }}</td>
                    <td>{{ tivo.assetId }}</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>{{ cva.title }}</td>
                    <td>{{ gracenote.title }}</td>
                    <td>{{ tivo.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Series Title</th>
                    <td >{{ cva.seriesTitle }}</td>
                    <td>{{ gracenote.seriesTitle }}</td>
                    <td>{{ tivo.seriesTitle }}</td>
                </tr>
                <tr>
                    <th scope="row">Summary Short</th>
                    <td>{{ cva.SummaryShort }}</td>
                    <td>{{ gracenote.SummaryShort }}</td>
                    <td>{{ tivo.SummaryShort }}</td>
                </tr>
                <tr>
                    <th scope="row">Summary Long</th>
                    <td>{{ cva.summaryLong }}</td>
                    <td>{{ gracenote.summaryLong }}</td>
                    <td>{{ tivo.summaryLong }}</td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td>{{ cva.rating }}</td>
                    <td>{{ gracenote.rating }}</td>
                    <td>{{ tivo.rating }}</td>
                </tr>
                <tr>
                    <th scope="row">Year</th>
                    <td>{{ cva.year }}</td>
                    <td>{{ gracenote.year }}</td>
                    <td>{{ tivo.year }}</td>
                </tr>
                <tr>
                    <th scope="row">Country</th>
                    <td>{{ cva.country }}</td>
                    <td>{{ gracenote.country }}</td>
                    <td>{{ tivo.country }}</td>
                </tr>
                <tr>
                    <th scope="row">Actors</th>
                    <td>{{ cva.actorsDisplay }}</td>
                    <td>{{ gracenote.actorsDisplay }}</td>
                    <td>{{ tivo.actorsDisplay }}</td>
                </tr>
                <tr>
                    <th scope="row">Directors</th>
                    <td>{{ cva.directors }}</td>
                    <td>{{ gracenote.directors }}</td>
                    <td>{{ tivo.directors }}</td>
                </tr>
                <tr>
                    <th scope="row">Genres</th>
                    <td>{{ cva.genre }}</td>
                    <td>{{ gracenote.genre }}</td>
                    <td>{{ tivo.genre }}</td>
                </tr>
                <tr>
                    <th scope="row">Series Desc</th>
                    <td>{{ cva.seriesDescription }}</td>
                    <td>{{ gracenote.seriesDescription }}</td>
                    <td>{{ tivo.seriesDescription }}</td>
                </tr>
                <tr>
                    <th scope="row">Season Name</th>
                    <td>{{ cva.seasonName }}</td>
                    <td>{{ gracenote.seasonName }}</td>
                    <td>{{ tivo.seasonName }}</td>
                </tr>
                <tr>
                    <th scope="row">Season Number</th>
                    <td>{{ cva.seasonNumber }}</td>
                    <td>{{ gracenote.seasonNumber }}</td>
                    <td>{{ tivo.seasonNumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Episode Name</th>
                    <td>{{ cva.episodeName }}</td>
                    <td>{{ gracenote.episodeName }}</td>
                    <td>{{ tivo.episodeName }}</td>
                </tr>
                <tr>
                    <th scope="row">Episode Number</th>
                    <td>{{ cva.episodeNumber }}</td>
                    <td>{{ gracenote.episodeNumber }}</td>
                    <td>{{ tivo.episodeNumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Keywords</th>
                    <td>{{ cva.keywords }}</td>
                    <td>{{ gracenote.keywords }}</td>
                    <td>{{ tivo.keywords }}</td>
                </tr>
                <tr>
                    <th scope="row">Show Type</th>
                    <td>{{ cva.showType }}</td>
                    <td>{{ gracenote.showType }}</td>
                    <td>{{ tivo.showType }}</td>
                </tr>
                <tr>
                    <th scope="row">Audience</th>
                    <td>{{ cva.audience }}</td>
                    <td>{{ gracenote.audience }}</td>
                    <td>{{ tivo.audience }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
